#Dependencias
Entrega3/vendor/

# Ignorar los logs dentro de Entrega3
Entrega3/logs/*.log
Entrega3/logs/app.log

# Archivos de configuración sensible
.env

# Archivos de configuración de entorno de trabajo
.vscode/
.DS_Store