# Ver todos los niveles disponibles en
# https://seldaek.github.io/monolog/doc/01-usage.html#log-levels
LOG_LEVEL=DEBUG

# Path es relativo a la raiz del proyecto
LOG_PATH=/logs/app.log

# Configuración de la DB
DB_ADAPTER=pgsql
DB_HOSTNAME=localhost
DB_DBNAME=database_name
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432
DB_CHARSET=utf8

#Dirección de mail
MAIL_PERSONAL= pawmap@gmail.com

MAIL_HOST=smtp.gmail.com
MAIL_USER=tu-correo-que-envia@gmail.com
MAIL_PASS=las16letrasquetediogoogle
MAIL_PORT=465